spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: catalog-service
            uri:
              http://localhost:8081
            predicates:
              - Path=/catalog/**